{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}

{% block main %}
<div class="section-header">
  {% set title_id = page.slug | default(value=page.title | slugify) %}
  <h1 id="{{ title_id }}" class="article-title">
    <a href="javascript:void(0);" id="title-copy-link" data-url="{{ current_url | safe }}" class="title-copy-icon" aria-label="Copy link to article" title="Copy link">
      {{ icons::render(name="copy-link") }}
    </a>
    {{ page.title }}
  </h1>
  {% if page.description %}
  <p class="section-description">{{ page.description | replace(from="{{ config.title }}", to=config.title) | markdown(inline=true) | safe }}</p>
  {% endif %}
</div>

<div class="post-content">
  {% block page_content %}
  {{ page.content | safe }}
  {% endblock page_content %}
</div>
{% endblock %}
